
:root {
    --base-unit: 2vw;
    --card-width: 8vw;
    --card-height: 12vw;
    --color-back: lightgray;
    --color-draw: wheat;
    --color-discard: rgb(247, 191, 89);
    --color-liberal: rgb(3, 143, 230);
    --color-fascist: rgb(243, 41, 41);
    --color-unknown: rgb(182, 182, 182);
    --color-ja: rgb(236, 236, 236);
    --color-nein: black;
    --color-vote: darkgray;
    --color-middle: rgb(196, 196, 196);
}

@media only screen and (min-width: 700px) {
    :root {
        --base-unit: 13px;
        --card-width: 60px;
        --card-height: 90px;
    }
}


div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}


/* BOARD */


body {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-back);
    text-transform: uppercase;
    font-weight: bold;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transition: 0.2s ease-in-out;
}


body.fascists-won {
    background-color: var(--color-fascist);
}

body.liberals-won {
    background-color: var(--color-liberal);
}


.board {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(20*var(--base-unit));
    margin: calc(2*var(--base-unit)) 0;
}

.middle {
    width: 70%;
    height: 100%;
    border: solid gray 2px;
    background-color: var(--color-middle);
    /* background-color: var(--color-liberal); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.middle.fascists-won {
    background-color: var(--color-fascist);
}

.middle.liberals-won {
    background-color: var(--color-liberal);
}


.policy-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
}

.policy {
    margin: 0 calc(0.5*var(--base-unit));
    border: solid black 1px;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 3px;
    box-shadow: black;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.policy.flash {
    transform: scale(1.2);
}

.policy.clickable:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.policy.clickable:active {
    transform: scale(1.1);
}

@media (pointer:coarse) {
    .policy.clickable:active{
        transform: scale(0.9);
    }
}


.policy.trigger-select {
    background-image: url("../images/svg/icon-hat.svg");
}

.policy.trigger-investigate {
    background-image: url("../images/svg/icon-search.svg");
}

.policy.trigger-execute {
    background-image: url("../images/svg/icon-gun.svg");
}

.policy.trigger-peak {
    background-size: 60% 45%;
    background-image: url("../images/png/icon-peak.png");
}

.policy.trigger-veto::before {
    content: "veto \000d enabled";
    font-size: calc(0.5*var(--base-unit));
    text-align: center;
    position: absolute;
    width: 80%;
    bottom: calc(0.5*var(--base-unit));;
}


.policy.empty {
    border: none;
    background-color: var(--color-back);
}


.policy-row.liberal .policy:last-child{
    background-image: url("../images/svg/icon-dove.svg");
}

.policy-row.fascist .policy:last-child{
    background-image: url("../images/svg/icon-skull.svg");
}

.policy.fascist, .policy.liberal {
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}

.policy.liberal {
    background-color: var(--color-liberal);
}

.policy.fascist {
    background-color: var(--color-fascist);
}

.election-tracker {
    height: calc(2*var(--base-unit));
    width:  30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.election-tracker::before {
    content: "";
    width: 60%;
    border: none;
    height: 20%;
    position: absolute;
    background-color: var(--color-back);
}

.tracker-place {
    border: none;
    height: calc(1.5*var(--base-unit));
    width:  calc(1.5*var(--base-unit));
    border-radius: 50px;
    background-color: var(--color-back);
}

.tracker-place.tracker {
    background-color: black;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}

.pile {
    display: flex;
    width: var(--card-width);
    height: var(--card-height);
    flex-direction: column;
    justify-content: center;
    padding-bottom: calc(1.1*var(--base-unit));
    background-color: var(--color-discard);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}

.pile .pile-size {
    text-align: center;
    width: 100%;
    font-size: calc(2.3*var(--base-unit));
}

.pile .pile-size:after{
    content: "DISCARD";
    font-weight: bold;
    width: 100%;
    font-size: calc(0.7*var(--base-unit));
    position: absolute;
    bottom: calc(-0.9*var(--base-unit));
    left: 0;
    text-align: center;
}

.pile.draw .pile-size:after{
    content: "DRAW";
}

.pile.draw {
    background-color: var(--color-draw);
    transition: 0.1s ease-in-out;
}

/* TODO: Add clickable */
.pile.clickable.draw:hover  {
    transform: scale(1.2);
    cursor: pointer;
}

.pile.clickable.draw:before, .pile.clickable.draw:after {
    opacity: 0;
    border: solid green 2px;
    content: "";
    position: absolute;
    background-color: var(--color-draw);
    border: solid black 1px;
    border-radius: 3px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.1s ease-in-out;
}

.pile.clickable.draw:hover:before {
    opacity: 1;
    transform: translate(3px, 3px);
    transition: 0.1s ease-in-out;
}
.pile.clickable.draw:hover:after {
    opacity: 1;
    transform: translate(6px, 6px);
    transition: 0.1s ease-in-out;
}


/* PLAYERS */

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    background-color: var(--color-unknown);
    border: solid black 1px;
    border-radius: 3px;
    width: calc(6*var(--base-unit));
    height: calc(8*var(--base-unit));
    min-width: 64px;
    min-height: 85px;
    margin: calc(1.2*var(--base-unit));
    margin-top: calc(3*var(--base-unit));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    transition: 0.1s ease-in-out;
}


.player .player-inner {
    border-radius: 3px;
    width: calc(5*var(--base-unit));
    height: calc(6.7*var(--base-unit));
    padding-bottom: calc(1.*var(--base-unit));
    min-width: 53px;
    min-height: 71px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(212, 212, 212);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../images/svg/icon-man-gray.svg");
}


.player .player-name {
    text-align: center;
    display: block;
    /* border: solid red 1px; */
    margin-top: calc(0.9*var(--base-unit));
    overflow-wrap: anywhere;
    word-wrap: break-all;
    width: 120%;
    font-size: calc(1*var(--base-unit));
    transform: rotate(0deg);
}

.player.liberal {
    background-color: var(--color-liberal);
}

.player.liberal .player-inner {
    background-image: url("../images/svg/icon-man-blue.svg");
}

.player.fascist .player-inner {
    background-image: url("../images/svg/icon-man-red.svg");
}

.player-inner.player-you {
    background-color: var(--color-ja);
}
.player-inner.player-you::before {
    font-size: calc(0.8*var(--base-unit));
    content: "YOU";
    color: gray;
    position: absolute;
    top: calc(0.2*var(--base-unit));
    border-radius: 3px;;
    padding: 0 calc(0.3*var(--base-unit));
    background-color: var(--color-ja);
}

.player.fascist {
    background-color: var(--color-fascist);
}

.player.hitler {
    background-color: rgb(0, 0, 0);;
}


.player.dead {
    opacity: 0.2;
    filter: grayscale(0.3);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}


.player.clickable:not(.dead):hover{
    transform: scale(1.2);
    cursor: pointer;
}

.player.clickable:not(.dead):active{
    transform: scale(1.1);
}

@media (pointer:coarse) {
    .player.clickable:not(.dead):active{
        transform: scale(0.9);
    }
}

.player::before{
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    position: absolute;
    vertical-align: middle;
    font-size: calc(1*var(--base-unit));
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    top: calc(-0.8*var(--base-unit));
    z-index: 3;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.player.chancellor::before{
    content: "CHANCELLOR";
    background-color: var(--color-discard);
}

.player.president::before{
    content: "PRESIDENT";
    background-color: var(--color-draw);
}

.player.voted .player-vote{
    position: absolute;
    border: none black 3px;
    background-color: var(--color-vote);
    color: var(--color-ja);
    border-radius: 3px;
    font-size: calc(1*var(--base-unit));
    width: 70%;
    text-align: center;
    font-weight: bold;
    padding: calc(0.3*var(--base-unit)) 0;
    bottom: calc(-0.4*var(--base-unit));
    right: calc(-0.8*var(--base-unit));
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.player.voted .player-vote::before{
    content: "?";
}

.player.voted-ja .player-vote::before{
    content: "JA!";
}

.player.voted-nein .player-vote::before{
    content: "NEIN!";
}

.player.voted-ja .player-vote{
    background-color: var(--color-ja);
    color: var(--color-nein);
}

.player.voted-nein .player-vote{
    background-color: var(--color-nein);
    color: var(--color-ja);
    border-color: var(--color-ja);
}


.player.not-hitler .player-name::after{
    content: "(not \A hitler)";
    color: gray;
    font-size: calc(0.7*var(--base-unit));
    position: absolute;
    width: 100%;
    left: 0;
    bottom: calc(-0.6*var(--base-unit));
    text-align: center;
}

/* clickable object highlight */
.pile.clickable, .player.clickable {
    -webkit-box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
    -moz-box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
    box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
}


/* DIALOGS */

.dialog-wrapper {
    position: absolute;
    overflow: hidden;
    background-color: rgba(134, 134, 134, 0.452);
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: calc(2*var(--base-unit));
    transition: opacity 0.1s ease-in-out;
}

.dialog-wrapper.opening, .dialog-wrapper.closing {
    opacity: 0;
}

.dialog-wrapper.closing {
    transition-delay: 1s;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}


.dialog {
    position: fixed;
    width: 60%;
    max-width: 750px;
    background-color: var(--color-back);
    border: solid black 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(1.4*var(--base-unit)) 0;
    font-size: calc(1.4*var(--base-unit));
    
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}

.dialog.error {
    background-color: var(--color-fascist);
}

.dialog-wrapper.opening .dialog, .dialog-wrapper.closing .dialog{
    transform: translate(0, 200px);
}

.dialog-wrapper.closing .dialog{
    transition-delay: 0.2s;
}

.dialog-prompt{
    text-align: center;
    padding: calc(0.6*var(--base-unit));
}

.dialog-prompt span{
    border-radius: 3px;
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
}

.dialog-prompt span.president{
    background-color: var(--color-draw);
}

.dialog-prompt span.chancellor{
    background-color: var(--color-discard);
}

.dialog-prompt span.highlight {
    background-color: var(--color-nein);
    color: var(--color-ja);
}


.dialog-prompt span.enforce{
    background-color: var(--color-ja);
    color: var(--color-nein);
}

.dialog-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: calc(-4.5*var(--base-unit));
    margin-bottom: calc(1.4*var(--base-unit));
}

.dialog.president .dialog-items *:hover::before,
.dialog.chancellor .dialog-items *:hover::before{
    content: "";
    position: absolute;
     width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.dialog.president .dialog-items *:hover::before{
    background-image: url("../images/svg/icon-cross.svg");
}

.dialog.chancellor .dialog-items *:hover::before{
    background-image: url("../images/svg/icon-hammer.svg");
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    text-align: center;
}

.button{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-back);
    text-align: center;
    vertical-align: center;
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    transition: 0.1s ease-in-out;
}

.vote-card{
    height: var(--card-width);
    width: calc(1.2*var(--card-height));
    border-radius: 3px;
    transition: 0.1s ease-in-out;
}

.dialog-buttons .vote-card {
    margin-top: calc(1*var(--base-unit));
    height: calc(1.5*var(--card-width));
    width: calc(1.5*var(--card-height));
    border-radius: 3px;
    transition: 0.1s ease-in-out;
}

.button.error,
.button.confirm {
    margin-top: calc(1*var(--base-unit));
    height: calc(0.8*var(--card-width));
}


.vote-card.ja, 
.button.confirm{
    background-color: var(--color-ja);
    color: var(--color-nein);
}

.vote-card.nein{
    background-color: var(--color-nein);
    color: var(--color-ja);
    border-color: var(--color-ja);
}


.vote-card.clickable:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vote-card.clickable:active {
    transform: scale(1.1);
}

@media (pointer:coarse) {
    .vote-card.clickable:active{
        transform: scale(0.9);
    }
}


/* LISTS */


.button.clickable:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.button.clickable:active {
    transform: scale(1.1);
}

@media (pointer:coarse) {
    .button.clickable:active{
        transform: scale(0.9);
    }
}

.list {
    font-size: calc(1.5*var(--base-unit));
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin-top: calc(1.4*var(--base-unit));
    padding: calc(0.5*var(--base-unit)) 0;
    background-color: var(--color-middle);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.list-title {
    text-align: center;
    font-size: calc(1.8*var(--base-unit));
    margin: calc(0.5*var(--base-unit)) calc(1*var(--base-unit));
}

.list-title .game{
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    border-radius: 3px;
    background-color: var(--color-draw);
}

.list-items {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.list-item, .list-items .input, .chat .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    height: calc(4*var(--base-unit));
    margin: calc(0.5*var(--base-unit)) calc(1*var(--base-unit));
    background-color: var(--color-back);
}

.input .textfield{
    border: none;
    border-radius: 3px;
    height: 95%;
    background-color: var(--color-ja);
    width: 95%;
    padding-left: calc(2.7*var(--base-unit));
    padding-right: calc(8*var(--base-unit));
    font-size: calc(1.5*var(--base-unit));
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
}


.list-item .item-number {
    color: gray;
    margin: 0 calc(1*var(--base-unit));
}

.list-item .button, .chat .input .button {
    position: absolute;
    height: 95%;
    width: 15%;
    right: calc(0.1*var(--base-unit));
}

.list-item .button.create {
    font-size: calc(3*var(--base-unit));
}

.list-item .item-text span.myname::after {
    content: "YOU";
    border-radius: 3px;
    margin-left: 5%;
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    background-color: var(--color-ja);
}

.list-item .item-text.ready,
.list-item .item-text.not-ready {
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    position: absolute;
    right: 18%;
}

.list-item .item-text.ready {
    border-radius: 3px;
    background-color: var(--color-liberal);
}

.button.join {
    background-color: var(--color-ja);
}

.button.kick, .button.back {
    background-color: var(--color-nein);
    color: var(--color-ja);
}

.list-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(3*var(--base-unit));
    margin: calc(0.5*var(--base-unit)) calc(1*var(--base-unit));
}

.button.ready {
    background-color: var(--color-liberal);
}

.button.start,
.button.send {
    background-color: var(--color-ja);
    color: black;
}

.button.start:not(.can-start) {
    color: gray;
    box-shadow: none;
}

/* INFO */

.info-row {
    font-size: calc(1*var(--base-unit));
    width: 75%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(2.5*var(--base-unit));
    align-items: center;
    background-color: var(--color-middle);
    height: calc(3*var(--base-unit));
    border-radius: 5px;
}

.info-row.top {
    margin-top: calc(0.8*var(--base-unit));
    background-color: var(--color-middle);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.info-row .button {
    padding: 0 calc(0.8*var(--base-unit));
    position: absolute;
    left: 0;
    height: 100%
}

.info-text span {
    padding: calc(0.2*var(--base-unit)) calc(0.5*var(--base-unit));
    border-radius: 3px;
    background-color: var(--color-middle);
}

.info-text .draw {
    background-color: var(--color-draw);
}

.info-text .discard {
    background-color: var(--color-discard);
}

.info-text .highlight {
    background-color: var(--color-nein);
    color: var(--color-ja);
}

/* CHAT */

.chat {
    font-size: calc(1*var(--base-unit));
    flex: 1 1 auto;
    width: 80%;
    max-width: 600px;
    min-height: calc(3.5*var(--card-width));
    border-radius: 5px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: calc(.5*var(--card-width)) 0;
    padding: calc(.2*var(--card-width));
    background-color: var(--color-middle);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.chat .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 0 3%;
    transition: 0.2s ease-in-out;
}

.messages .message {
    display: grid;
    column-gap: 1%;
    grid-template:
        'player text'
        'time text';
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: calc(0.5*var(--base-unit)) calc(0.2*var(--base-unit));
}

.message.highlight .message-text{
    -webkit-box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
    -moz-box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
    box-shadow: 0px 2px 30px 10px rgba(255,214,8,0.75);
}

.messages .message.this-player{
    grid-template:
        'text player'
        'text time';
    justify-content: end;
}

.message-time,
.message-player {
    text-align: center;
    font-size: 80%;
}

.message-time {
    grid-area: time;
    align-self: start;
    color: gray;
}
.message-player{
    grid-area: player;
    align-self: end
}
.message-player .system{
    color: gray;
}

.message-text{
    grid-area: text;
    border-radius: 3px;
    background-color: var(--color-back);
    padding: calc(0.5*var(--base-unit)) calc(0.5*var(--base-unit));
    transition: 0.2s ease-in-out;
}

.message-text span{
    padding: calc(0.1*var(--base-unit)) calc(0.3*var(--base-unit));
    border-radius: 3px;
}
.message-text span.fascist {   
    background-color: var(--color-fascist);
}
.message-text span.liberal {
    background-color: var(--color-liberal);

}
.message-text span.passed {
    background-color: var(--color-ja);
}
.message-text span.failed {
    background-color: var(--color-nein);
    color: var(--color-ja)
}
.message-text span.president {
    background-color: var(--color-draw)
}
.message-text span.chancellor {
    background-color: var(--color-discard)
}
.message-text span.highlight {
    background-color: var(--color-nein);
    color: var(--color-ja)
}


.chat .input {
    height: 0;
    margin: 0;
    transition: 0.1s ease-in-out;
}
.chat .input * {
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.chat:hover .input {
    opacity: 1;
    height: calc(4*var(--base-unit));
    margin: calc(0.5*var(--base-unit)) calc(1*var(--base-unit));
}

.chat:hover .input * {
    opacity: 1;
}

.chat .input .button {
    width: 20%;
}